HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**/build/
#!**/src/test/**/build/
###careful
.idea/
### exclude builds###
./user-service/build/
./task-service/build/
./notification-service/build/
./common/build/
./user-service/.gradle/
./task-service/.gradle/
./notification-service/.gradle/
./common/.gradle/
### Logs ###
*.log
*.log.*
logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
