HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
#!**/src/main/**/build/
#!**/src/test/**/build/
###careful
**/build/libs/*.jar
.idea/
### exclude builds###
**/user-org.main.service/build/
#./task-org.main.service/build/
#./notification-org.main.service/build/
#./common/build/
#./user-org.main.service/.gradle/
#./task-org.main.service/.gradle/
#./notification-org.main.service/.gradle/
#./common/.gradle/
### Logs ###
*.log
*.log.*
logs/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
